
/* MAIN */
.main {
  flex: 1;
  padding: 38px 40px;
  background: #f8fafc;
  min-width: 0;
}

/* MAIN */
.main-content{
  flex:1;
  display:flex;
  flex-direction:column;
}

/* CONTENT */
.content{
  padding:40px;
  background: transparent;
  padding: 20px 40px 40px 40px;
}

.menu-btn{
  width:45px;
  height:45px;
  border:none;
  border-radius:12px;
  background:#16345c;
  color:white;
  font-size:18px;
  margin-bottom:25px;
  cursor:pointer;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.content h1{
  font-size: 28px;
  font-weight: 800;
  color: #111827;
  margin-top: 0;
  margin-bottom: 6px;
}

.subtitle{
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 26px;
}


/* PACKAGE LIST */
.package-list{
  max-width:900px;
  display:flex;
  flex-direction:column;
  gap:18px;
}

.package-card{
  background:white;
  border-radius:18px;
  padding:22px 25px;
  display:flex;
  align-items:center;
  gap:18px;
  position:relative;
  box-shadow:0 3px 12px rgba(0,0,0,0.08);
  border-left:12px solid transparent;
  cursor:pointer;
  transition:.3s;
}

.package-card:hover{
  transform:translateY(-2px);
}

.package-card input{
  width:22px;
  height:22px;
}

.package-info{
  flex:1;
}

.package-info h3{
  font: size 22px;
  margin-bottom:6px;
  color:#111;
}

.package-info p{
  font-size:15px;
  color:#555;
}

.price{
  font-size:23px;
  font-weight:bold;
  color:#111;
}

/* COLORS */
.green{
  border-left-color:#3dc96a;
}

.blue{
  border-left-color:#5fa7ff;
}

.cyan{
  border-left-color:#28c7c7;
}

.orange{
  border-left-color:#f2a33a;
}

.gray{
  border-left-color:#d3d3d3;
}

.yellow{
  border-left-color:#e0c03b;
}

.purple{
  border-left-color:#9c59d1;
}

/* ACTIVE */
.package-card.active {
  background: #f8fffb;
  border: 2px solid currentColor;
  border-left-width: 12px;
}

.package-card.green.active {
  color: #3dc96a;
  background: #effdf4;
}

.package-card.blue.active {
  color: #5fa7ff;
  background: #eff6ff;
}

.package-card.cyan.active {
  color: #28c7c7;
  background: #eefaf9;
}

.package-card.orange.active {
  color: #f2a33a;
  background: #fff7ed;
}

.package-card.gray.active {
  color: #d3d3d3;
  background: #f9fafb;
}

.package-card.yellow.active {
  color: #e0c03b;
  background: #fefce8;
}

.package-card.purple.active {
  color: #9c59d1;
  background: #faf5ff;
}

.package-card.active h3,
.package-card.active p,
.package-card.active .price {
  color: #111;
}
/* PURCHASE BUTTON */
.purchase-btn{
  margin-top:35px;
  width:900px;
  max-width:100%;
  border:none;
  padding:22px;
  border-radius:20px;
  background:#16345c;
  color:white;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}

.purchase-btn:hover{
  opacity:.9;
}
